@charset "UTF-8";
@font-face {
  font-family: '华文中宋';
  src: url("../fonts/STZHONGS.TTF") format("truetype");
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 华文中宋, sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: linear-gradient(white 12.7%, #90a5b1 12.7%, #90a5b1 14%, #e5ecef 14%, #e5ecef 85%, #9fafb9 85%, #9fafb9 100%);
  background-size: 100% 100%;
}

.btn, .btn-1-1, .btn-2-3, .btn-1-2, .btn-2-2, .btn-1-3, .btn-1-4, .btn-3-3, .btn-2-4, .btn-3-4, .btn-4-4, .btn-3-3-xieyi, .btn-1-3-xieyi, .btn-2-3-xieyi {
  background: url("../images/bt_off.png") no-repeat;
  color: #036646;
  font-size: 28px;
  font-family: 华文中宋, sans-serif;
  border: none;
  cursor: pointer;
}

@media (min-width: 1270px) {
  .btn, .btn-1-1, .btn-2-3, .btn-1-2, .btn-2-2, .btn-1-3, .btn-1-4, .btn-3-3, .btn-2-4, .btn-3-4, .btn-4-4, .btn-3-3-xieyi, .btn-1-3-xieyi, .btn-2-3-xieyi {
    width: 193px;
    height: 79px;
    background-size: 193px 79px;
  }
}

@media (min-width: 1360px) {
  .btn, .btn-1-1, .btn-2-3, .btn-1-2, .btn-2-2, .btn-1-3, .btn-1-4, .btn-3-3, .btn-2-4, .btn-3-4, .btn-4-4, .btn-3-3-xieyi, .btn-1-3-xieyi, .btn-2-3-xieyi {
    width: 198px;
    height: 69px;
  }
}

.btn:hover, .btn-1-1:hover, .btn-2-3:hover, .btn-1-2:hover, .btn-2-2:hover, .btn-1-3:hover, .btn-1-4:hover, .btn-3-3:hover, .btn-2-4:hover, .btn-3-4:hover, .btn-4-4:hover, .btn-3-3-xieyi:hover, .btn-1-3-xieyi:hover, .btn-2-3-xieyi:hover {
  background: url("../images/bt_on.png") no-repeat;
  background-size: 193px 79px;
}

.btn:focus, .btn-1-1:focus, .btn-2-3:focus, .btn-1-2:focus, .btn-2-2:focus, .btn-1-3:focus, .btn-1-4:focus, .btn-3-3:focus, .btn-2-4:focus, .btn-3-4:focus, .btn-4-4:focus, .btn-3-3-xieyi:focus, .btn-1-3-xieyi:focus, .btn-2-3-xieyi:focus {
  outline: none;
}

/*一排只有一个按钮*/
.btn-1-1, .btn-2-3 {
  position: absolute;
  top: 89%;
  left: 50%;
  margin-left: -99px;
}

/*一排有两个按钮，两个按钮的第一个*/
.btn-1-2 {
  position: absolute;
  top: 89%;
  left: 20%;
}

.btn-2-2 {
  position: absolute;
  top: 89%;
  right: 20%;
}

/*一排有三个按钮，三个按钮的第一个*/
.btn-1-3, .btn-1-4 {
  position: absolute;
  top: 89%;
  left: 14%;
}

.btn-3-3, .btn-2-4, .btn-3-4, .btn-4-4, .btn-3-3-xieyi {
  position: absolute;
  top: 89%;
  right: 14%;
}

/*一排有四个按钮，四个按钮的第二个*/
.btn-2-4 {
  margin-right: 416px;
}

.btn-3-4 {
  margin-right: 208px;
}

/*协议内容页面按钮样式*/
.btn-1-3-xieyi {
  position: absolute;
  top: 89%;
  left: 14%;
}

.btn-2-3-xieyi {
  position: absolute;
  top: 89%;
  left: 50%;
}

/*返回按钮*/
.back {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url("../images/back.png") no-repeat;
  border: none;
  cursor: pointer;
}

@media (min-width: 1270px) {
  .back {
    margin-left: 10px;
    margin-top: 25px;
  }
}

@media (min-width: 1360px) {
  .back {
    margin-left: 10px;
    margin-top: 10px;
  }
}

/*退卡按钮*/
.takecard {
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  background: url("../images/takecard.png") no-repeat;
  border: none;
  cursor: pointer;
}

@media (min-width: 1270px) {
  .takecard {
    margin-right: 10px;
    margin-top: 25px;
  }
}

@media (min-width: 1360px) {
  .takecard {
    margin-right: 10px;
    margin-top: 10px;
  }
}

.back:focus,
.takecard:focus {
  outline: none;
}

/* 二级菜单页面标题 start */
.menu-title {
  width: 100%;
  height: 60px;
  margin: 13% auto;
  text-align: center;
  font-size: 38px;
  color: #036646;
  font-family: 华文中宋;
}

/* 二级菜单页面标题 end */
/* 二级菜单页面菜单选择 satar */
.menu-frame {
  margin: -9% auto;
  width: 1200px;
  height: 500px;
  font-family: 华文中宋;
}

ul li {
  list-style: none;
  float: left;
}

ul li:hover {
  cursor: pointer;
  background: #e2d5b7;
  border: 3px solid #df9172;
}

.menu-select {
  width: 299px;
  height: 106px;
  background: #bfd9d0;
  margin: 20px 35px;
  border: 3px solid #87cb93;
}

.menu-font {
  color: #0b6449;
  height: 106px;
  line-height: 106px;
  width: 299px;
  display: block;
  text-align: center;
  font-size: 32px;
}

/* 二级菜单页面菜单选择 end */
.title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #036646;
  font-family: 华文中宋, sans-serif;
}

@media (min-width: 1270px) {
  .title {
    top: 15%;
    font-size: 40px;
  }
}

@media (min-width: 1360px) {
  .title {
    top: 14%;
    font-size: 35px;
  }
}

.tipbox {
  font-family: 华文中宋, sans-serif;
  position: absolute;
  border: 1px solid #c9cecf;
  border-top: 1px solid #fcffff;
  background-color: #cddae4;
}

@media screen and (min-width: 1270px) {
  .tipbox {
    width: 968px;
    height: 634px;
    margin-left: 156px;
    top: 22%;
  }
}

@media screen and (min-width: 1360px) {
  .tipbox {
    width: 988px;
    height: 494px;
    margin-left: 189px;
    top: 20%;
  }
}

/* 页面提示内容样式 start */
.tip-frame {
  position: absolute;
  top: 35%;
  left: auto;
  width: 100%;
  height: 80px;
}

.tip {
  font-family: 华文中宋;
  color: #333;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  display: inline-block;
  text-align: center;
}

/* 页面提示内容样式 end */
/*页面数目提示样式 start*/
.page {
  font-size: 26px;
  position: absolute;
  top: 91.5%;
  left: 33.5%;
  display: inline-block;
}

/*页面数目提示样式 end*/
/* 倒计样式 start */
#countdown {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

@media (min-width: 1270px) {
  #countdown {
    top: 160px;
    right: 80px;
  }
}

@media (min-width: 1360px) {
  #countdown {
    top: 100px;
    right: 80px;
  }
}

/* 倒计样式 end */
.kbd, .kbd-long .kbd-left, .kbd-long .kbd-right {
  box-sizing: border-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.kbd button, .kbd-long .kbd-left button, .kbd-long .kbd-right button {
  background: linear-gradient(#badfd3, #81cfb6 50%, #4fbb95 50%, #69c2a3, #baded1);
  border: 1px solid #7aa091;
  font-weight: bold;
  font-family: "Times New Roman";
  border-radius: 4px;
}

.kbd button, .kbd-long .kbd-left button, .kbd-long .kbd-right button {
  color: black;
}

.kbd button.disabled, .kbd-long .kbd-left button.disabled, .kbd-long .kbd-right button.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

.kbd button.kbd-n, .kbd-long .kbd-left button.kbd-n, .kbd-long .kbd-right button.kbd-n {
  color: #a20e71;
}

.kbd button.long-key:active, .kbd-long .kbd-left button.long-key:active, .kbd-long .kbd-right button.long-key:active, .kbd button.kbd-n:active, .kbd-long .kbd-left button.kbd-n:active, .kbd-long .kbd-right button.kbd-n:active, .kbd button:active, .kbd-long .kbd-left button:active, .kbd-long .kbd-right button:active {
  color: #ccc;
}

.kbd {
  width: 373px;
  height: 337px;
  border: 1px solid #c9cecf;
  border-top: 1px solid #fcffff;
  background-color: #cddae4;
  float: right;
  margin-right: 60px;
  margin-top: 40px;
}

.kbd button {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

.kbd button.long-key {
  width: 155px;
}

.kbd button.kbd-n {
  font-size: 30px;
}

.kbd button span.kbd-ch {
  font-size: 22px;
}

.kbd button span.kbd-en {
  font-size: 16px;
}

.kbd-input {
  float: left;
  margin-top: 40px;
  margin-left: 60px;
}

.kbd-input label {
  display: block;
  font-size: 24px;
}

.kbd-input input {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  font-size: 24px;
  border: 4px solid #E4E9EF;
}

.blink {
  position: relative;
}

.blink::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 270px;
  height: 0px;
  bottom: 0;
  left: 0;
  margin-left: 4px;
  border-top: 2px solid red;
  margin-bottom: -2px;
  -webkit-animation: blink .2s infinite;
  animation: blink .2s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kbd-long {
  width: 950px;
  margin: auto;
  background: #edf2f5;
  overflow: hidden;
  border: 2px solid #a6a8aa;
}

.kbd-long .kbd-left {
  box-sizing: border-box;
  width: 490px;
  height: 337px;
  float: left;
  margin-left: 30px;
  margin-top: 15px;
  padding: 0 15px;
}

.kbd-long .kbd-left button {
  width: 52px;
  height: 52px;
  margin: 10px 5px;
}

.kbd-long .kbd-left button.long-key {
  width: 90px;
  margin-left: 20px;
  color: #a20e71;
  font-size: 30px;
  font-family: 华文中宋;
}

.kbd-long .kbd-left button.kbd-n {
  font-size: 30px;
}

.kbd-long .kbd-left button span.kbd-ch {
  font-size: 22px;
}

.kbd-long .kbd-left button span.kbd-en {
  font-size: 16px;
}

.kbd-long .kbd-right {
  width: 310px;
  height: 337px;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}

.kbd-long .kbd-right button {
  width: 52px;
  height: 52px;
  margin: 10px 10px;
  background: linear-gradient(#badfd3, #81cfb6 50%, #4fbb95 50%, #69c2a3, #baded1);
  border: 1px solid #7aa091;
  font-weight: bold;
  font-family: "Times New Roman";
  border-radius: 4px;
}

.kbd-long .kbd-right button.long-key {
  width: 155px;
}

.kbd-long .kbd-right button.kbd-n {
  font-size: 30px;
}

.kbd-long .kbd-right button span.kbd-ch {
  font-size: 16px;
}

.kbd-long .kbd-right button span.kbd-en {
  font-size: 12px;
}
